MONGO_URI="mongodb:"
PORT=3000
ENCRYPTION_KEY =""
JWT_SECRET="token untuk web"
JWT_SECRET_MOBILE="token untuk mobile"
FRONTEND="frontend https"

NODE_ENV="development"

#cronjob EMAIL
EMAIL_HOST="smtp.office365.com"
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=""
EMAIL_PASS=""

EMAIL_SERVICE="Outlook365"
