MONGO_URI=""
PORT="3003"
ENCRYPTION_KEY=""
JWT_SECRET=""
JWT_SECRET_MOBILE=""
NODE_ENV="development"
FRONTEND="http://192.168.21.193:5173"
SEED_SUPERADMIN_PASSWORD=""

#midtrants
PAYMENT_MIDTRANS_CLIENT_KEY=""
PAYMENT_MIDTRANS_SERVER_KEY=""
 
